@media all and (max-width: 1000px) {
  .lesson {
    width: 40%;
    margin-bottom: 50px;
  }

  .top-wrapper{
    padding-top: 100px;
    height: 700px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .lesson-wrapper{
    height:1100px;
    padding-top: 20px;
  }

 .pembungkus {
    width: 50%;
  }

  .namakelompok {

    font-size: 70px;
  }

  #devi {

    float: right;
    margin-left: 0px;
  }

  #dimas {
    float: right;
    margin-left: 0px;
  }

  #dody {

    margin-left: 15%;
  }

  #devi {

    margin-right: 15%;
  }

  #devio {

    margin-left: 15%;
  }

  #dimas {

    margin-right: 15%;
  }

  #dandi {

    margin-left: 15%;
  }

}

@media all and (max-width: 800px){


  .pembungkus {

    width: 100%;
  }

  .namakelompok {

    font-size: 50px;
  }

  #dody{

    margin-left: 25%;
  }

  #devi {

    float: none;
    margin-left: 25%;

  }

  #dimas {
    float: none;
    margin-left: 25%;
  }

  #devio {

    margin-left: 25%;
  }

  #dandi {
    margin-left: 25%;
  }
}

@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
    height: 450px;
  }

  footer {
    text-align: center;
    height: 65px;
  }

  header{
    height: 60px;
  }

  .logo{
    margin-top: 5px;
  }

  .top-wrapper {
    text-align: left;
    width:92%;
    padding-top: 100px;
    height: 700px;
    }

  .lesson-wrapper{
    margin-top:0;
    height:2000px;
    }

  .header-right {
    display: none;
  }

  .menu-icon{
    display: block !important;
  }

  .menu-icon:hover{
     background-color: rgba(255, 255, 255, 0.3);
  }

  .menu-icon:hover .sub-menu{
  
  display: block !important;

  }

  .menu-icon:hover .sub-menu ul{
  background-color: #3878d3;
  margin-left:-100px;
  position:absolute;
  display: block;
  list-style: none;
  }

  .menu-icon:hover .sub-menu ul li a{
  width: 120px;
  color: white;
  padding: 20px 10px;
  display: block;
  }

  .sub-menu ul li a:hover{
  background-color: rgba(255, 255, 255, 0.3);
  }

  .top-wrapper h1 {
    font-size: 22px;
    line-height: 30px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
  .container-2{
    margin-bottom: 30px;
  }
  
 

}


@media all and (max-width:580px) {

    #dody {
      margin-left: 18%;
    }
    #devi {
      margin-left: 18%;
    }
    #devio {
      margin-left: 18%;
    }
    #dimas {
      margin-left: 18%;
    }
    #dandi {
      margin-left: 18%;
    }
}

